# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# maven ignore
target/

# eclipse ignore
.settings/
.project
.classpath

