<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qunar.sms.dao.task.TaskScheduleDao">

    <sql id="taskScheduleField">
        id,task_name,config_parameter,crontab,initiate_mode,host_name,
        execute_status,execute_time,last_execute_time,next_execute_time,
        update_time
    </sql>

    <select id="selectAllTaskSchedule" resultType="TaskSchedule">
        SELECT
        <include refid="taskScheduleField"/>
        FROM task_schedule
    </select>

    <select id="selectTaskScheduleById" parameterType="long" resultType="TaskSchedule">
        SELECT
        <include refid="taskScheduleField"/>
        FROM task_schedule
        WHERE id=#{id}
    </select>

    <update id="updateTaskScheduleById">
        UPDATE task_schedule
        <include refid="taskScheduleSet"/>
        WHERE id=#{id}
    </update>

    <sql id="taskScheduleSet">
        <set>
            <if test="taskName!=null and taskName!=''">task_name=#{taskName},</if>
            <if test="configParameter!=null and configParameter!=''">config_parameter=#{configParameter},</if>
            <if test="crontab!=null and crontab!=''">crontab=#{crontab},</if>
            <if test="initiateMode!=null and initiateMode!=''">initiate_mode=#{initiateMode},</if>
            <if test="hostName!=null and hostName!=''">host_name=#{hostName},</if>
            <if test="executeStatus!=null and executeStatus!=''">execute_status=#{executeStatus},</if>
            <if test="executeTime!=null and executeTime!=''">execute_time=#{executeTime},</if>
            <if test="lastExecuteTime!=null and lastExecuteTime!=''">last_execute_time=#{lastExecuteTime},</if>
            <if test="nextExecuteTime!=null and nextExecuteTime!=''">next_execute_time=#{nextExecuteTime}</if>
        </set>
    </sql>

    <insert id="insertTaskSchedule" useGeneratedKeys="true" keyProperty="id">
        INSERT IGNORE INTO task_schedule
        <include refid="taskScheduleSet"/>
    </insert>

    <delete id="deleteTaskScheduleById">
        DELETE FROM task_schedule WHERE id=#{id}
    </delete>

</mapper>